@tailwind base;
@tailwind components;
@tailwind utilities;


.page-fade {
    opacity: 0;
    transition: opacity 0.35s ease;
}

.page-fade.show {
    opacity: 1;
}

.data-fade-css{
    color: #fd2800;
    text-decoration: none;
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUp 0.6s ease-out forwards;
}
